{% extends 'base.html' %}

{% block title %}Accounts{% endblock title %}

{% block content %}
    <main>
        <div>
            <h1>Accounts</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number</th>
                        <th>Number of receipts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for value in accounts %}
                    <tr>
                        <td>{{ value.name }}</td>
                        <td>{{ value.number }}</td>
                        <td>{{ value.receipts.count}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
