{% extends 'base.html' %}

    {% block title %}My Receipts{% endblock title %}

{% block content %}
    <main>
        <h1>My Receipts</h1>
            <table>
                <thead>
                    <tr>
                        <th>Vendor</th>
                        <th>Total</th>
                        <th>Tax</th>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Account</th>
                     </tr>
                </thead>
                <tbody>
                    {% for value in receipt %}
                    <tr>
                        <td>{{ value.vendor }}</td>
                        <td>{{ value.total }}</td>
                        <td>{{ value.tax }}</td>
                        <td>{{ value.date|date:"m/d/y" }}</td>
                        <td>{{ value.category }}</td>
                        <td>{{ value.account }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </main>
{% endblock content %}
